.env
.python-version
__pycache__/
.idea/
.DS_Store
screenlog*
.env*
temp/*
uniswapTokenData
**/*projects.json
**/*aggregator.json
config/*settings.json
**/*.backup
.vscode/*
snapshotter-lite-local-collector
*venv*/
config
computes
logs
ipfs-data
ipfs-export
redis-data
.coverage
.pytest_cache
.mypy_cache
htmlcov
snapshotter-periphery-blockfetcher
snapshotter-periphery-txprocessor
snapshotter-periphery-epochsyncer
rate-limiter
docker-compose.yaml
.cursorrules
.venv/